@import "../variables";

$fonts: ("Roboto Black": "roboto-black-webfont", "Roboto Medium": "roboto-medium-webfont");

@mixin font-face($name, $filename){
  @font-face {
    font-family: $name;
    src: url('#{$font-path}/#{$filename}.woff2') format('woff2'),
    url('#{$font-path}/#{$filename}.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
}

@each $name, $filename in $fonts {
  @include font-face($name, $filename);
}