@import "../utils/animations";
@import "../functions";

$slide-height: rem(300px);

.slider {
  background-color: lightblue;

  &__slides {
  }

  &__nav {
  }
}

.slides {
  position: relative;
  overflow: hidden;
  min-height: $slide-height;

  &__slide {
    width: 100%;
    min-height: $slide-height;
    position: absolute;
    background-color: lightcoral;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    &:first-child {
      animation-name: slide-1;
      left: 0;
    }

    &:nth-child(2) {
      background-color: lightgoldenrodyellow;
      animation-name: slide-2;
      left: 100%;
    }

    &:last-child {
      background-color: lightgreen;
      animation-name: slide-3;
      left: 200%;
    }
  }

  &__box {
  }

  &__hdl {
  }

  &__lead {
  }

  &__link {
  }
}

.nav {
  &__btn {
    &.nav__btn--prev {

    }
  }
}

