@import "../utils/animations";
@import "../functions";

$slide-height: rem(300px);

.slider {
  background-color: lightblue;

  &__slides {
  }

  &__nav {
  }
}

.slides {
  position: relative;
  overflow: hidden;
  min-height: $slide-height;

  &__slide {
    width: 100%;
    min-height: $slide-height;
    position: absolute;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-name: slide-#{$i};
        background-image: url("#{$img-path}/slide-#{$i}.jpeg");
        left: ($i - 1) * 100%;
      }
    }
  }

  &__box {
  }

  &__hdl {
  }

  &__lead {
  }

  &__link {
  }
}

.nav {
  &__btn {
    &.nav__btn--prev {

    }
  }
}

